<ion-view view-title="History" ng-controller="fictionCtrl">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="c in book" type="item-text-wrap">
                <div class="list">
                    <a class="item item-thumbnail-left" ui-sref="tab.history-detail({id: c._id})" href-active="active">
                        <img ng-src="{{c.image}}">
                        <h2>{{c.title}}</h2>
                        <p>{{c.author}}</p>
                    </a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>