<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-calm">
  <!-- Fiction Tab -->
  <ion-tab title="Fiction" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/fiction/1">
    <ion-nav-view name="tab-fiction"></ion-nav-view>
  </ion-tab>

  <!-- Nonfiction Tab -->
  <ion-tab title="Non-Fiction" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/nonfiction/2">
    <ion-nav-view name="tab-nonfiction"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/history/3">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>
      <!-- Science Tab -->
  <ion-tab title="Science" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/science/4">
    <ion-nav-view name="tab-science"></ion-nav-view>
  </ion-tab>
</ion-tabs>






